.join-col{ width: 100%; padding: 40px;}
.top-logo{ width: 100%;}
.top-logo img{ width: 120px;}
.btn-col{ width: 100%;}
.btn-col a.sole-btn{ width: 48%; height: 60px; line-height:60px; border: 1px #8c3bfa solid; text-align: center; border-radius: 5px; color:#8c3bfa; font-size: 14px; float: left;}
.btn-col a.company-btn{ width: 48%; height: 60px; line-height:60px; background:#8c3bfa; text-align: center;  border-radius: 5px; color:#fff; font-size: 14px; float: right;}
.join-col h2{ font-size: 24px; font-weight: 700; color: #222;}
.join-col p{ font-size: 14px; color: #858585;}
.join-col h6{ color: #333; margin-bottom: 20px;}